
.mainbody {
    margin-top: 100px;
    width: 100%;
    height: 10000px;
}

.mainbody-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainbody-start {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}